.avatar {
    width: 100px;
    height: 250px;
    border-radius: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    display: block;
    width: 30%;
    position: absolute;
   top: 10%;
   left: 35%;
  }
  .username {
    width: 200px;
    height: 200px;
    text-align: center;
    font-size: 40px;
    margin-top:42%;
    margin-left:40%;
    margin-right: 48%;
    position: absolute;
    color: rgb(0, 119, 255);
  }
.div{
    height: 800px;
    position: relative;
}

.div2 {
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: 50%;
    margin-top:50%;
    color: rgb(0, 119, 255);
  }

  .text{
    text-align: center;
    color: rgb(0, 119, 255);
  }